Name: Shiska Raut <br>
ID:   1001526329

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import graphviz
%matplotlib inline

In [2]:
# read data
path = 'nba2021.csv'

df = pd.read_csv(path)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  497 non-null    object
 1   Pos     497 non-null    object
 2   Age     497 non-null    int64
 3   Tm      497 non-null    object
 4   G       497 non-null    int64
 5   GS      497 non-null    int64
 6   MP      497 non-null    float64
 7   FG      497 non-null    float64
 8   FGA     497 non-null    float64
 9   FG%     497 non-null    float64
 10  3P      497 non-null    float64
 11  3PA     497 non-null    float64
 12  3P%     497 non-null    float64
 13  2P      497 non-null    float64
 14  2PA     497 non-null    float64
 15  2P%     497 non-null    float64
 16  eFG%    497 non-null    float64
 17  FT      497 non-null    float64
 18  FTA     497 non-null    float64
 19  FT%     497 non-null    float64
 20  ORB     497 non-null    float64
 21  DRB     497 non-null    float64
 22  TRB     497 non-null    float64
 23  AST     497 non-null    float64
 24  STL     497 non-null    float64
 25  BLK     497 non-null    float64
 26  TOV     497 non-null    float64
 27  PF      497 non-null    float64
 28  PTS     497 non-null    float64
dtypes: float64(23), int64(3), object(3)
memory usage: 112.7+ KB

In [3]:
df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,PF,21,MIA,28,2,14.6,2.6,4.4,0.590,...,0.561,1.3,2.7,4.0,0.6,0.4,0.5,1.0,1.9,6.5
1,Jaylen Adams,PG,24,MIL,6,0,2.8,0.2,1.3,0.125,...,0.000,0.0,0.5,0.5,0.3,0.0,0.0,0.0,0.2,0.3
2,Steven Adams,C,27,NOP,27,27,28.1,3.5,5.8,0.603,...,0.468,4.3,4.6,8.9,2.1,1.0,0.6,1.7,1.9,8.0
3,Bam Adebayo,C,23,MIA,26,26,33.6,7.4,12.9,0.573,...,0.841,1.9,7.3,9.2,5.3,1.0,1.0,3.0,2.6,19.9
4,LaMarcus Aldridge,C,35,SAS,18,18,26.7,5.9,12.5,0.476,...,0.762,0.8,3.5,4.3,1.9,0.4,0.9,0.9,1.5,14.1

### Drop labels that were found to be not too relevant in 'Data_Analysis_and_Model_Selection' notebook

In [4]:
df.drop(['Player', 'Age', 'Tm', 'FG', 'FG%', '3P', '3P%', '2P',
         '2P%', 'FT', 'FT%', 'TRB', '2PA', 'FTA', 'G', 'GS', 'TOV', 'PF', 'MP'], axis = 1, inplace = True)

In [5]:
df.head(10)

  Pos   FGA  3PA   eFG%  ORB  DRB  AST  STL  BLK   PTS
0  PF   4.4  0.0  0.590  1.3  2.7  0.6  0.4  0.5   6.5
1  PG   1.3  0.3  0.125  0.0  0.5  0.3  0.0  0.0   0.3
2   C   5.8  0.0  0.603  4.3  4.6  2.1  1.0  0.6   8.0
3   C  12.9  0.2  0.576  1.9  7.3  5.3  1.0  1.0  19.9
4   C  12.5  3.7  0.529  0.8  3.5  1.9  0.4  0.9  14.1
5  SG   1.0  0.3  0.000  0.0  0.3  0.3  0.0  0.0   0.0
6  SG   8.2  3.8  0.473  0.2  2.4  2.0  1.1  0.3   8.8
7  SG   7.4  5.3  0.586  0.4  2.5  2.1  1.0  0.2  10.4
8   C   6.8  0.1  0.645  2.9  6.1  1.6  0.5  1.6  12.3
9   C   5.4  0.0  0.677  3.2  7.3  1.7  0.6  1.6  11.2

### Get encoded labels and split data

In [6]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [7]:
# initialize label encoder and transform labels
le = LabelEncoder()
transformed_labels = pd.Series(le.fit_transform(df['Pos'].tolist()), name = "Position")

In [8]:
# add encoded labels as a new column and drop previous position column
df["Position"] = transformed_labels
df.drop(['Pos'], axis = 1, inplace = True)

In [9]:
X = df.drop(['Position'], axis = 1)
y = df['Position']

In [10]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, stratify = y)

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 143 to 139
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FGA     372 non-null    float64
 1   3PA     372 non-null    float64
 2   eFG%    372 non-null    float64
 3   ORB     372 non-null    float64
 4   DRB     372 non-null    float64
 5   AST     372 non-null    float64
 6   STL     372 non-null    float64
 7   BLK     372 non-null    float64
 8   PTS     372 non-null    float64
dtypes: float64(9)
memory usage: 29.1 KB

### Logistic Regression

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
# import scaler
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [14]:
mc = MinMaxScaler()
X_train_norm = mc.fit_transform(X_train)
X_test_norm = mc.transform(X_test)

In [15]:
# model with C = 2 and max_iter = 500
final_model = LogisticRegression(C = 2, max_iter = 200)
final_model.fit(X_train_norm, y_train)

# get predictions on test data
y_pred = final_model.predict(X_test_norm)

### Model Accuracy

In [18]:
from sklearn.metrics import accuracy_score, classification_report

print(f'Total accuracy for test set is {accuracy_score(y_test, y_pred):0.2f} percent.')
print(f'Class accuracy is:\n {classification_report(y_test, y_pred)}')

Total accuracy for test set is 0.57 percent.
Class accuracy is:
               precision    recall  f1-score   support

           0       0.83      0.65      0.73        23
           1       0.44      0.62      0.52        26
           2       0.65      0.46      0.54        24
           3       0.40      0.10      0.15        21
           4       0.55      0.87      0.67        31

    accuracy                           0.57       125
   macro avg       0.58      0.54      0.52       125
weighted avg       0.57      0.57      0.54       125

### Confusion Matrix

In [19]:
print("Test Confusion matrix:")
print(pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True))

Test Confusion matrix:
Predicted   0   1   2  3   4  All
True
0          15   8   0  0   0   23
1           3  16   1  2   4   26
2           0   2  11  0  11   24
3           0   9   3  2   7   21
4           0   1   2  1  27   31
All        18  36  17  5  49  125

In [20]:
le.inverse_transform([0, 1, 2, 3, 4])

array(['C', 'PF', 'PG', 'SF', 'SG'], dtype='<U2')

### 10-Fold Cross Validation

In [21]:
from sklearn.model_selection import cross_val_score

In [22]:
# standardize the whole data
mc = MinMaxScaler()
X_trans = mc.fit_transform(X)

In [23]:
# initialize model for cross validation
model = LogisticRegression(C = 2, max_iter = 500)

In [24]:
# get cross validation scores
cv_scores = cross_val_score(model, X_trans, y, cv = 10)

### Accuracy scores for each fold

In [25]:
# print scores
print('Accuracy scores for 10-Fold CV are: ')
for i in range(len(cv_scores)):
    print(f'{i+1}: {cv_scores[i]:0.3f}')

Accuracy scores for 10-Fold CV are:
1: 0.560
2: 0.440
3: 0.540
4: 0.520
5: 0.580
6: 0.500
7: 0.500
8: 0.551
9: 0.592
10: 0.490

In [26]:
print(f'The average score for cross-validation is: {cv_scores.mean()}')

The average score for cross-validation is: 0.5272653061224489